# Configuración del Puerto para el contenedor / Dokploy
PORT=3000

# Configuración de Base de Datos MySQL (Opcional)
# Si no defines DB_HOST, la aplicación usará SQLite local automáticamente.
# DB_HOST=host.docker.internal
# DB_PORT=4545
# DB_USER=root
# DB_PASS=root_password
# DB_NAME=inventario_sistemas
